* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    display: flex;
    justify-content: center;
}
.currency-converter {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /*width: 800px;*/
    /*width: 65%;*/
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header label {
    font-weight: bold;
    font-size: 18px;
}

select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.buttons button {
    background-color: #fff;
    border: 1px solid #FF9900;
    padding: 10px 20px;
    cursor: pointer;
    color: #FF9900;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
}

.buttons .active {
    background-color: #FF9900;
    color: #fff;
}

.currency-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.currency-select {
    display: flex;
    align-items: center;
    padding: 5px 61px;
    border-radius: 5px;
}

.currency-select img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.icon {
    font-size: 25px;
    color: #ccc;
}

.amount-inputs {
    display: flex;
    justify-content: space-between;
}

.amount-inputs input {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control {
    width: 203px !important;
    text-align: center !important;
}
